/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills-section {
    padding: 20px;
    background-color: #151414;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    background-color: #faf5f5;
    border: 1px solid #c84545;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(230, 224, 224, 0.652);
    transition: transform 0.3s ease;
}

.skill-card h3 {
    margin-top: 0;
    color: #333;
}

.skill-card p {
    color: #666;
}

.skill-card:hover {
    transform: translateY(-5px);
}

@media (min-width: 600px) {
    .skill-card {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .skill-card {
        width: 30%;
    }
}
